<div id="add" class="row-cols-1 menu-item">
  <div class="form-products">
    <form method="POST" action="/admin/store">
      <div class="row-cols-1 mb-3">
        <p>Title:</p>
        <input type="text" value="{{data.tieude}}" name="tieude" id="tieude">
        
      </div>
      <div class="row-cols-1 mb-3">
        <p>Trích dẫn:</p>
        <input type="text" value="{{data.trichdan}}" name="trichdan" id="trichdan">

      </div>
      <div class="row-cols-1 mb-3">
        <p>Chủ đề:</p>
        <select id="theloai" name="theloai">
          <option value="{{data.theloai2Id}}">{{data.tentloai}}</option>
          <option value="1">Sự kiện</option>
          <option value="2">Giải thưởng</option>
          <option value="3">Góc cảm nhận</option>
          <option value="4">Tác giả</option>
          <option value="5">Du lịch</option>
          <option value="6">Điểm tin</option>
          <option value="7">Top 10</option>
          <option value="8">Phim chuyển thể</option>
          <option value="9">Công việc</option>
          <option value="10">Nghê thuật sống</option>
          <option value="11">Sức khỏe</option>
          <option value="12">Light novel</option>
        </select>
      </div>
      <div class="row-cols-1 mb-3">
        <p>Đường dẫn ảnh:</p>
        <input type="text" value="{{data.hinh}}" name="hinh" id="hinh">
      </div>
      <div class="row-cols-1 mb-3">
        <p>Nội dung</p>
         <input type="text" value="{{data.noidung}}" name="noidung" id="noidung">
      </div>
      <div class="row-cols-1 mb-3">
        <button type="submit">Đồng ý</button>
      </div>
    </form>
  </div>
</div>

{{!-- <select id="theloai" name="theloai">
          <option value="{{data.theloai2Id}}">{{theloai2Id.tentloai}}</option>
          <option value="1">Sự kiện</option>
          <option value="2">Giải thưởng</option>
          <option value="3">Góc cảm nhận</option>
          <option value="4">Tác giả</option>
          <option value="5">Du lịch</option>
          <option value="6">Điểm tin</option>
          <option value="7">Top 10</option>
          <option value="8">Phim chuyển thể</option>
          <option value="9">Công việc</option>
          <option value="10">Nghê thuật sống</option>
          <option value="11">Sức khỏe</option>
          <option value="12">Light novel</option>
        </select> --}}