<div id="products" class="row-cols-1 menu-item">
    <div class="container-products">
        <table class="table table-hover products-list">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Bình luận</th>
                    <th scope="col">Bài viết</th>
                    <th scope="col">Option</th>
                </tr>
                {{#each data}}
            <tbody>
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.noidung}}</td>
                    <td>{{this.baivietId}}</td>
                    <td>
                        <a href="/admin/deletecmt?id={{this.id}}">               
                            <form  method="post" action="/admin/deletecmt?id={{this.id}}&_method=DELETE">
                              <input type="submit" value="Xóa">
                            </form>
                       </a>
                    </td>
                </tr>
            </tbody>

            {{/each}}


            </thead>

        </table>
        <a href="/logout">Logout</a>
    </div>
</div>





        </body>



