{{!-- <div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <h1>{{data.id}}</h1>
            <h2>{{data.noidung}}</h2>
        </div>
    </div>
</div> --}}


<div class="leftcolumn">

    <div class="card">
        <h1>
            <a href="" id="he" rel="bookmark">{{data.tieude}}</a>
        </h1>

        <img  src="{{data.hinh}}">

        <p>
             {{data.noidung}}
        </p>
        

        <img width="400" height="600" src="{{data.hinh}}">

        <p>
            Thông tin chi tiết:
        </p>
        <ul>
            <li>
                <strong>Fanpage:</strong>
                <a href="https://www.facebook.com/Book.Exchange.FTUHCMC/">Book.Exchange.FTUHCMC/</a>
            </li>
            <li>
                <strong>Instagram:</strong>
                <a href="https://www.instagram.com/bookexchange.ftuhcmc/">@bookexchange.ftuhcmc/</a>
            </li>
        </ul>
        <h2 id="H3_85">
          SHARE THIS:
        </h2>
        <div class="DIV_311">
        <a href="https://bookaholicvn.wordpress.com/2020/02/17/12-tieu-thuyet-trinh-tham-hoi-hop-tung-chuong-cho-thang-2-2020/?share=twitter&amp;nb=1" class="button tw" title="Click to share on Twitter" >           
        <span class="button-icon">
            <i class="fa-brands fa-twitter"></i></span>
            <span class="button-text">Twitter</span></a>
        <a href="https://bookaholicvn.wordpress.com/2020/02/17/12-tieu-thuyet-trinh-tham-hoi-hop-tung-chuong-cho-thang-2-2020/?share=facebook&amp;nb=1" class="button fb" title="Click to share on Facebook">
        <span class="button-icon">
            <i class="fa-brands fa-facebook"></i></span>
            <span class="button-text">Facebook</span></a>
     </div>
 

    <div class="card">
        <h2>
          REALATED
        </h2>

       <div class="DIV_3121">
           <div class="DIV_31211">
               <p>
                   <a href="https://bookaholicvn.wordpress.com/2013/12/16/nhung-an-y-ve-tinh-duc-trong-charlie-va-nha-may-socola/?relatedposts_hit=1&amp;relatedposts_origin=109611&amp;relatedposts_position=0" title="Những ẩn ý về tình dục trong &amp;#8216;Charlie và nhà máy&amp;nbsp;sôcôla&amp;#8217;" id="A_109">Những ẩn ý về tình dục trong ‘Charlie và nhà máy sôcôla’</a>
                   <time id="TIME_110">
                         December 16, 2013
                     </time>
               </p>
           </div>
           <div class="DIV_31211">
            <p>
                   <a href="https://bookaholicvn.wordpress.com/2014/01/04/inferno-cua-dan-brown-da-duoc-mua-ban-quyen-tai-viet-nam/?relatedposts_hit=1&amp;relatedposts_origin=109611&amp;relatedposts_position=1" title="Inferno của Dan Brown đã được mua bản quyền tại Việt&amp;nbsp;Nam" id="A_114">Inferno của Dan Brown đã được mua bản quyền tại Việt Nam</a>
                   <time>
                        January 4, 2014
                    </time>
               </p>
            </div>
            </div>
       </div>
       <div class="footer">
        <div class="DIV_33">
            <img alt="" src="https://0.gravatar.com/avatar/fca9ec2e7ee61f208de0c34b82d47a20?s=90&amp;d=identicon&amp;r=G" height="90" width="90" id="IMG_125" />   
            <h2>
                Published by Bookaholic
            </h2>
            <p>
                reading gone wild <a href="https://bookaholicvn.wordpress.com/author/bookaholicvn/" rel="author" id="A_130">View all posts by Bookaholic</a>
            </p>
                        
        </div>
        </div>
   
    <section>
    <div id="card">
        <div class="container">
            <div class="containerForm">
                <h2>Leave a Reply</h2>
                <form class="formBox" method="POST" action="/addcomment">
                    <div class="inputBox w50">
                        <input type="text" name="name" >
                        <span>Name</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea name="noidung" ></textarea>
                        <span>Comment</span>
                    </div>
                    <div class="row-cols-1 mb-3">
                        <input type="hidden" value="{{data.id}}" name="baivietId" id="baivietId">

                    </div>
                    <div class="inputBox w100">
                        {{!-- <input type="submit" value="Post comment"> --}}
                        <button type="submit">Post comment</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
    <div class="card">
        <h2>Comments</h2>
        <ul class="comment-list">
             {{#each data.comment}}
                <li>
                    <h4>{{ this.name }} :</h4>
                    <p>{{ this.noidung }}</p>
                </li>
            {{/each}}
        </ul>
             
    </div>
</div>
 </div>
<div class="rightcolumn">
    <div class="card">
        <div class="DIV_33">
            <h3>
                <a href="https://www.facebook.com/bookaholic.vn" id="A_299">Follow us on Facebook</a>
            </h3>
            <div class="fb-page" data-href="https://www.facebook.com/bookaholic.vn/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bookaholic.vn/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bookaholic.vn/">Bookaholic</a></blockquote></div>
        </div>
    </div>
</div>