{{!-- <div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <h1>{{data.id}}</h1>
            <h2>{{data.noidung}}</h2>
        </div>
    </div>
</div> --}}


<div class="leftcolumn">

    <div class="card">
        <h1>
            <a href="" id="he" rel="bookmark">{{data.tieude}}</a>
        </h1>

        <img  src="{{data.hinh}}">

        <p>
             {{data.noidung}}
        </p>
        

        <img width="400" height="600" src="{{data.hinh}}">

        <p>
            Thông tin chi tiết:
        </p>
        <ul>
            <li>
                <strong>Fanpage:</strong>
                <a href="https://www.facebook.com/Book.Exchange.FTUHCMC/">Book.Exchange.FTUHCMC/</a>
            </li>
            <li>
                <strong>Instagram:</strong>
                <a href="https://www.instagram.com/bookexchange.ftuhcmc/">@bookexchange.ftuhcmc/</a>
            </li>
        </ul>
        <h2 id="H3_85">
          SHARE THIS:
        </h2>
        <div class="DIV_311">
        <a href="https://bookaholicvn.wordpress.com/2020/02/17/12-tieu-thuyet-trinh-tham-hoi-hop-tung-chuong-cho-thang-2-2020/?share=twitter&amp;nb=1" class="button tw" title="Click to share on Twitter" >           
        <span class="button-icon">
            <i class="fa-brands fa-twitter"></i></span>
            <span class="button-text">Twitter</span></a>
        <a href="https://bookaholicvn.wordpress.com/2020/02/17/12-tieu-thuyet-trinh-tham-hoi-hop-tung-chuong-cho-thang-2-2020/?share=facebook&amp;nb=1" class="button fb" title="Click to share on Facebook">
        <span class="button-icon">
            <i class="fa-brands fa-facebook"></i></span>
            <span class="button-text">Facebook</span></a>
     </div>
 

    <div class="card">
        <h2>
          REALATED
        </h2>

       <div class="DIV_3121">
           <div class="DIV_31211">
               <p>
                   <a href="https://bookaholicvn.wordpress.com/2013/12/16/nhung-an-y-ve-tinh-duc-trong-charlie-va-nha-may-socola/?relatedposts_hit=1&amp;relatedposts_origin=109611&amp;relatedposts_position=0" title="Những ẩn ý về tình dục trong &amp;#8216;Charlie và nhà máy&amp;nbsp;sôcôla&amp;#8217;" id="A_109">Những ẩn ý về tình dục trong ‘Charlie và nhà máy sôcôla’</a>
                   <time id="TIME_110">
                         December 16, 2013
                     </time>
               </p>
           </div>
           <div class="DIV_31211">
            <p>
                   <a href="https://bookaholicvn.wordpress.com/2014/01/04/inferno-cua-dan-brown-da-duoc-mua-ban-quyen-tai-viet-nam/?relatedposts_hit=1&amp;relatedposts_origin=109611&amp;relatedposts_position=1" title="Inferno của Dan Brown đã được mua bản quyền tại Việt&amp;nbsp;Nam" id="A_114">Inferno của Dan Brown đã được mua bản quyền tại Việt Nam</a>
                   <time>
                        January 4, 2014
                    </time>
               </p>
            </div>
            </div>
       </div>
 </div>